PORT= << port of the sever >> 
CLIENT_LINK= << frontend  link >>
DB_LINK= << app db link >>
JWT_COOKIE_EXPIRES= << jwt cookie expire in days ==> 1>>
JWT_EXPIRE= << jwt expire in day like  ==> 1d >>
JWT_SECRET= << random jwt token secret >>
IMAGE_KIT_URL= << image kit url endpoint >>
IMAGE_KIT_PUBLIC_KEY= << image kit public key >>
IMAGE_KIT_PRIVATE_KEY= << image kit private key >>